html {
    background-image: radial-gradient(#191970, #111134);
    height: 100vh;
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding-left: 5vw;
    color: #ffffff;
}
body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
header {
    height: 14%;
    width: 100%;
    text-align: left;
    & fieldset {
        background-image: radial-gradient(#00ff00, #1b542c);
        height: 75%;
        width: 97.5%;
        border-radius: 15px;
        display: flex;
        justify-content: space-around;
    }
}
main {
    height: 74%;
    width: 100%;
    text-align: left;
    & fieldset {
        background-image: radial-gradient(#fe0000, #7c2c2b);
        height: 96%;
        width: 97.5%;
        border-radius: 15px;
        display: flex;
        justify-content: space-around;
        & container {
            height: 100%;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            & div {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(5, 1fr);
                grid-column-gap: 0px;
                grid-row-gap: 0px;
                align-items: center;
                border: solid;
                border-radius: 10px;
                height: 47%;
                text-align: center;
                & img {
                    margin-left: auto;
                }
                & button {
                    background-image: radial-gradient(#00ffff, #0000ff);
                    color: #ffee00;
                    border-radius: 10px;
                }
            }
        }
    }
}
.grid1 { grid-area: 1 / 1 / 2 / 6; }
.grid2 { grid-area: 2 / 1 / 3 / 3; }
.grid3 { grid-area: 3 / 1 / 6 / 2; }
.grid4 { grid-area: 3 / 2 / 6 / 3; }
.zweier {
    width: 16%;
}
.vierer {
    width: 24%;
}
.sechser {
    width: 32%;
}
.achter {
    width: 32%;
}
footer {
    height: 10%;
    width: 100%;
    text-align: left;
    & fieldset {
        background-image: radial-gradient(#ff00ff, #2d0044);
        height: 75%;
        width: 97.5%;
        border-radius: 15px;
        display: flex;
        justify-content: space-around;
    }
}