<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Über uns</title>
    {% load static %} 
    <link rel='stylesheet' href="{% static 'CSS/styleabout.css' %}">
    
</head>
<body>
    <header>
        <fieldset>
            <legend>
                Backend-Restaurant
            </legend>
            <h3>
                <a href="home">Home</a>
            </h3>
            <h3>
                <a href="menue">Menü</a>
            </h3>
            <h3>
                <a href="order">Bestellung (Warenk.)</a>
            </h3>
            <h3>
                <a href="reservation">Reservierung</a>
            </h3>
            <h3>
                <a href="about">About</a>
            </h3>
        </fieldset>
    </header>
    <main>
        <fieldset>
            <legend>
                Über Uns
            </legend>
            Impressumsgedöns
        </fieldset>
    </main>
    <footer>
        <fieldset>
            <legend>
                Footer
            </legend>
            Bla
    </fieldset>
    </footer>    
</body>
</html>



