<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservierung</title>
    {% load static %} 
    <link rel="stylesheet" href="{% static 'CSS/stylereservation.css' %}">
</head>
<body>
    <header>
        <fieldset>
            <legend>
                Backend-Restaurant
            </legend>
            <h3>
                <a href="home">Home</a>
            </h3>
            <h3>
                Menü
            </h3>
            <h3>
                Bestellung (Warenk.)
            </h3>
            <h3>
                <a href="reservation">Reservierung</a>
            </h3>
            <h3>
                About
            </h3>
        </fieldset>
    </header>
    <main>
        <fieldset>
            <legend>
                Raumplan
            </legend>
            <container>
                <div class="vierer">
                    <h3 class="grid1">
                        Tisch 1  
                    </h3>
                    <p class="grid2">
                        (4 Personen)
                    </p>
                    <img src="{% static 'vierer.png'%}" class="grid3">
                    <form class="grid4">
                        <button>
                            Reservieren
                        </button>
                    </form>
                </div>
                <div class="achter">
                    <h3 class="grid1">
                        Tisch 2  
                    </h3>
                    <p class="grid2">
                        (8 Personen)
                    </p>
                    <img src="{% static 'achter.png'%}" class="grid3">
                    <form class="grid4">
                        <button>
                            Reservieren
                        </button>
                    </form>
                </div>
                <div class="zweier">
                    <h3 class="grid1">
                        Tisch 3  
                    </h3>
                    <p class="grid2">
                        (2 Personen)
                    </p>
                    <img src="{% static 'zweier.png'%}" class="grid3">
                    <form class="grid4">
                        <button>
                            Reservieren
                        </button>
                    </form>
                </div>
                <div class="vierer">
                    <h3 class="grid1">
                        Tisch 4  
                    </h3>
                    <p class="grid2">
                        (4 Personen)
                    </p>
                    <img src="{% static 'vierer.png'%}" class="grid3">
                    <form class="grid4">
                        <button>
                            Reservieren
                        </button>
                    </form>
                </div>
                <div class="sechser">
                    <h3 class="grid1">
                        Tisch 5  
                    </h3>
                    <p class="grid2">
                        (6 Personen)
                    </p>
                    <img src="{% static 'sechser.png'%}" class="grid3">
                    <form class="grid4">
                        <button>
                            Reservieren
                        </button>
                    </form>
                </div>
                <div class="zweier">
                    <h3 class="grid1">
                        Tisch 6  
                    </h3>
                    <p class="grid2">
                        (2 Personen)
                    </p>
                    <img src="{% static 'zweier.png'%}" class="grid3">
                    <form class="grid4">
                        <button>
                            Reservieren
                        </button>
                    </form>
                </div>
                <div class="sechser">
                    <h3 class="grid1">
                        Tisch 7  
                    </h3>
                    <p class="grid2">
                        (6 Personen)
                    </p>
                    <img src="{% static 'sechser.png'%}" class="grid3">
                    <form class="grid4">
                        <button>
                            Reservieren
                        </button>
                    </form>
                </div>
                <div class="zweier">
                    <h3 class="grid1">
                        Tisch 8  
                    </h3>
                    <p class="grid2">
                        (2 Personen)
                    </p>
                    <img src="{% static 'zweier.png'%}" class="grid3">
                    <form class="grid4">
                        <button>
                            Reservieren
                        </button>
                    </form>
                </div>
            </container>
        </fieldset>
    </main>
    <footer>
        <fieldset>
            <legend>
                Footer
            </legend>
            Bla
    </fieldset>
    </footer>    
</body>
</html>